.body_index{
    background-color:#591bb5;
}

.giris_panel{    
    background-color:#6c757d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.input-error::placeholder{
    color: red;
}

body{
    background-color: #ced4da;
}

.table_item{
    text-align: center;
    background-color: #9e3737;
    color: wheat;
}

.save_button{
    background-color:#2be244;
}
th, td{
    text-align: center;
}

.link_button{
    background-color: aqua;
}